<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ccwb.cloud.usercenter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true" />

    <meta-data
        android:name="cn.ccwb.cloud.usercenter.config.UserCenterModuleConfig"
        android:value="ConfigModule" />

    <activity
        android:name="cn.ccwb.cloud.usercenter.activity.UserCenterContainerActivity"
        android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden"
        android:screenOrientation="portrait" />
</manifest>